<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel='stylesheet' href='{% static 'css/at2.css'%}'>

  </head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Rahul News Portal</a>
  <div  id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movie">Movie News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sports">Sports News</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/politics">Politics News</a>
      </li>
    </ul>
  </div>
</nav>
{% block body_block %}
{% endblock %}



</body>
</html>